
@{
    Layout = null;
}

<form action="@Url.Action("LoginAction", "User")" method="get">

    <input name="Username" type="text" placeholder="Username" />
    <br />
       
    <input type="submit" value="Gönder" />

</form>



